# Assignment: Data Wrangling and Exploratory Data Analysis
## Do Q1 and Q2, and one other question.
`! git clone https://www.github.com/DS3001/assignment2`

In [2]:
! git clone https://github.com/carascott/wranglingnote

Cloning into 'wranglingnote'...
remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 59 (delta 16), reused 7 (delta 7), pack-reused 37
Receiving objects: 100% (59/59), 6.25 MiB | 17.43 MiB/s, done.
Resolving deltas: 100% (22/22), done.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

Q1


1) The abstract informs the reader that this paper is about standardizing the way data sets are "tidied". Data scientists spend the majority of their time cleaning and making data sets understandable, which is why this process must be easily replicatable and understandable.

2) The tidied data standard intends to ease the job of data scientists. In order to evaluate and manipulate the data to find/show the desired output, the data must be easily-manipulatable, such as how tidied data is described in the paper. Consistency allows the collaboration of other individuals, and the replicability of one's work. If a data scientist's code fails to clean and manipulate data, then other people will not only be unable to understand the context of the work, but there is also a great chance for innacuracy when manipulating data after cleaning/tidying.

3) Comparing tidy datasets to families highlights the complexity, as well as the potential messiness of a dataset (messy family & messy datasets = recipe for trouble). Generally, there is a common structure among different families, and the same is true for data sets.
The other quote describes the issue with applying the structure of a data set to general, real-life terms. If you understand the data you are using and WHY you are doing what you're doing to the data, your results will become infintely better and more reliable. Cleaning data requires an understanding of the data you are working with, what needs to be done to make the data clearer?

4) Wickham described values as the data itself, and these can either be numerical or categorical/strings. A variable is defined by the various columns constiuting a data set. The types of variables depend upon the data itself, but could include things such as Gender, Age, Location, etc. Lastly, he describes observations as the rows in your data set. Each row will have values (or missing values) for each variable (columns). For example, an observation could be that of a person where the variables are defined for their particular characteristics (example: Male, 20, San Diego).

5) Tidy data is defined by the 3 paramters: variables form columns, EACH observation forms a row, and each type of observational unit forms a table.

6) The five biggest problems seen with messy data sets includes: (1) The headers (names of variables) are taken in as values, not headers, (2) One column attempting to represent more than one variable (these variables should all be seperated by column correctly), (3) The rows and columns both contain variables, (4) Different types of observations are combined within one table instead of seperate tables, and (5) A single observation unit is represented in multiple tables instead of being within one.

The data is Table 4 is messy because there are 3 variables: type of religion, income range, and frequency. However, the way Table 4 is arranged does not allow frequency to be easily measured. Instead of each column having a column for each seperate income bracket, there should only be 3 columns that can include an infinite number of observations (rows). There should be less columns and more rows, not the other way around.

Melting is a process of fixing the issues seen in tables such as 4, so that a data set is longer than it is wide. The resulting data can be referred to as "molten data".

7) Table 11 has excessive amounts of rows to denote date/day. Table 12b shows that "element" and "value" have been changed to "tmin" or "tmax" and then each observation is included in a row. Date is included as its own variable that includes year, month and day in each observatioon, allowing for easier-manipulatable data.

8)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

Part 1:

In [4]:
bnb = pd.read_csv('/content/wranglingnote/assignment/data/airbnb_hw.csv', low_memory=False)

In [5]:
print(bnb.shape, '\n')
bnb.head()
price = bnb['Price']
price.unique()

(30478, 13)

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

There are commas in values over a thousand, but because the list is seperated by commas, I need to replace the commas inside the values with nothing, as to not make the data set confusing or hard to work with.

In [6]:
price = price.str.replace(',','') # Updating price column instead of creating a new column
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3000', '112',
       '94', '379', '57', '415', '236', '410', '214', '88', '66', '71',
       '171', '157', '545', '1500', '83', '96', '1800', '81', '188',
       '380', '255', '505', '54', '33', '174', '93', '740', '640', '1300',
       '440', '599', '357', '1239', '495', '127', '5999', '178', '348',
       '152', '242', '183', '253', '750', '259', '365', '273', '197',
       '397', '103', '389', '355', '559', '38', '203', '999', '141',
       '162', '333', '698', '46', '360', '895', '10', '41', '206', '281',
       '449', '388', '212', '102', '201', '2750', '4750', '432', '675',
       '167', '390', '298', '339', '194', '302', '211', '595', '191',
       '53', '361', '480', '8000', '4500', '459', '997', '345', '216',
       '218', '111', '735', '276', '91', '490', '850', '398', '36', '775',
       '267', '625', '336', '2500', '176', '725', '3750', '469', '106',
       '460', '287', '575', '227', '263', '25', '228', '208', '177',
       '880', '148', '116', '685', '470', '217', '164', '61', '645',
       '699', '405', '252', '319', '268', '419', '343', '525', '311',
       '840', '154', '294', '950', '409', '184', '257', '204', '241',
       '2000', '412', '121', '288', '196', '900', '647', '524', '1750',
       '309', '510', '1495', '1700', '799', '383', '372', '492', '327',
       '1999', '656', '224', '173', '875', '1170', '795', '690', '146',
       '465', '1100', '151', '274', '429', '825', '282', '256', '1111',
       '620', '271', '161', '51', '855', '579', '1174', '430', '20',
       '899', '649', '485', '181', '455', '4000', '243', '342', '590',
       '560', '374', '437', '232', '359', '985', '31', '244', '254',
       '723', '237', '428', '370', '34', '1400', '580', '2520', '221',
       '749', '1600', '2695', '306', '202', '680', '570', '520', '223',
       '2295', '213', '1065', '346', '24', '286', '296', '266', '26',
       '995', '1368', '393', '182', '635', '258', '780', '589', '347',
       '1250', '1350', '446', '3200', '1050', '1650', '1550', '975',
       '323', '6500', '2499', '1850', '2250', '715', '461', '540', '356',
       '439', '384', '569', '1900', '22', '785', '626', '830', '318',
       '444', '321', '401', '1499', '888', '369', '770', '386', '366',
       '344', '630', '313', '597', '262', '509', '10000', '278', '312',
       '789', '1195', '422', '21', '765', '3500', '945', '326', '3100',
       '2486', '3390', '1356', '2599', '472', '454', '328', '396', '291'],
      dtype=object)

Looking at the thousand values, the commmas have been removed from each point of data. Success!

In [7]:
print(type(price)) # Shows that the data is still in a series, not recognized numerically

<class 'pandas.core.series.Series'>

In [8]:
price = pd.to_numeric(price, errors = 'coerce')
print(price.unique() , '\n')
print(type(price))

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

<class 'pandas.core.series.Series'>

In [9]:
print(sum(price.isnull())) # No missing values

0

Part 2:

In [9]:
shark = pd.read_csv('/content/wranglingnote/data/sharks.csv', low_memory=False)
type = shark['Type']
print(type.unique() , '\n')
shark['Type'].value_counts()

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

Variables that don't make sense and should be removed: Invalid, Questionable, Unconfirmed, Unverified, Under investigation

Variables that have to do with boating: Sea Disaster, Watercraft, Boat, Boating, Boatomg (is this a typo for boating?, only occurs once)

In [10]:
type = type.replace(['Sea Disaster', 'Watercraft','Boat','Boating','Boatomg'],'All Boating')
type.value_counts() # If these variables all mean boating, I can combine them to "All Boating"

Unprovoked             4716
Provoked                593
All Boating             583
Invalid                 552
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Name: Type, dtype: int64

In [11]:
type = type.replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan)
type.value_counts() # Succesfully removes unnecessary data

Unprovoked     4716
Provoked        593
All Boating     583
Name: Type, dtype: int64

In [12]:
shark['Type'].value_counts() # I created a "type" variable, so the changes have not been made to the actual dataset

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [13]:
shark['Type'] = type # To change the actual data set, I set these two equal to one another
shark['Type'].value_counts()

Unprovoked     4716
Provoked        593
All Boating     583
Name: Type, dtype: int64

Part 3:

In [15]:
df = pd.read_csv('/content/October 2017 Cohort_Virginia Pretrial Data Project_Deidentified FINAL Update_10272021.csv', low_memory=False)

In [17]:
print(df.shape, '\n')
release = df['WhetherDefendantWasReleasedPretrial']

(2178, 709)

In [18]:
release.unique()
release.value_counts()

1    1186
0     983
9       9
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

In [19]:
release = release.replace(9,np.nan)
release.value_counts()

1.0    1186
0.0     983
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

In [20]:
sum(release.isnull()) # Gives 31 na values, 9 had 31, which was removed so this is the desired iutput!

9

In [21]:
df['WhetherDefendantWasReleasedPretrial'].value_counts()
df['WhetherDefendantWasReleasedPretrial'] = release
df['WhetherDefendantWasReleasedPretrial'].value_counts()

1.0    1186
0.0     983
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

Part 4:

In [33]:
time = df['ImposedSentenceAllChargeInContactEvent']
length = pd.to_numeric(time, errors='coerce')

#print(length.head())
#print(length.unique(), '\n')
#print(length.value_counts())

In [34]:
length_NA = length.isnull()
print(np.sum(length_NA),'\n')

652

In [31]:
missing_values = length.isnull()
missing_count = missing_values.sum()
rows_with_missing_values = df[missing_values]

#print(missing_values)
#print(rows_with_missing_values)

     InternalStudyID REQ_REC# Defendant_Sex Defendant_Race  \
0           ADI00001        1             M              W
4           CDI00038        7             F              W
11          CDI00050       14             M              B
12          CDI00055       15             F              W
15          CDI00089       18             F              W
...              ...      ...           ...            ...
2163        EGD00053     2168             M              W
2168        EGD00058     2173             M              B
2170        EGD00060     2175             M              B
2173        EGD00063     2178             F              W
2174        EGD00064     2179             M              B

      Defendant_BirthYear  Defendant_Age  Defendant_AgeGroup  \
0                    1986             31                   3
4                    1988             28                   3
11                   1992             25                   2
12                   1982             35                   3
15                   1979             38                   4
...                   ...            ...                 ...
2163                 1987             30                   3
2168                 1987             30                   3
2170                 1988             29                   3
2173                 1986             31                   3
2174                 1988             28                   3

     Defendant_AgeatCurrentArrest  Defendant_AttorneyTypeAtCaseClosure  \
0                              31                                   99
4                              28                                    0
11                             25                                    4
12                             35                                    4
15                             38                                    1
...                           ...                                  ...
2163                           30                                    0
2168                           30                                    0
2170                           29                                    4
2173                           31                                    2
2174                           28                                    2

      Defendant_IndigencyStatus  ... NewFelonySexualAssaultArrest_OffDate  \
0                            99  ...
4                             0  ...
11                            0  ...
12                            0  ...
15                            1  ...
...                         ...  ...                                  ...
2163                          0  ...
2168                          0  ...
2170                          0  ...
2173                          1  ...
2174                          1  ...

     NewFelonySexualAssaultArrest_ArrestDate  \
0
4
11
12
15
...                                      ...
2163
2168
2170
2173
2174

      NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate  \
0
4
11
12
15
...                                                 ...
2163
2168
2170
2173
2174

     NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate  \
0                                                 999.0
4                                                 999.0
11                                                999.0
12                                                999.0
15                                                999.0
...                                                 ...
2163                                              999.0
2168                                              999.0
2170                                              999.0
2173                                              999.0
2174                                              999.0

      NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate  \
0                                                 999.0
4                                                 999.0
11                                                999.0
12                                                999.0
15                                                999.0
...                                                 ...
2163                                              999.0
2168                                              999.0
2170                                              999.0
2173                                              999.0
2174                                              999.0

      NewFelonySexualAssaultArrest_Disposition  \
0
4
11
12
15
...                                        ...
2163
2168
2170
2173
2174

      Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis  \
0                                                   4.0
4                                                   0.0
11                                                  5.0
12                                                  0.0
15                                                  0.0
...                                                 ...
2163                                                0.0
2168                                                1.0
2170                                                0.0
2173                                                0.0
2174                                                0.0

      CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual  \
0                                                     1
4                                                     1
11                                                    1
12                                                    1
15                                                    1
...                                                 ...
2163                                                  1
2168                                                  1
2170                                                  1
2173                                                  1
2174                                                  1

     DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound  \
0                                                   0.0
4                                                   1.0
11                                                  1.0
12                                                  1.0
15                                                  1.0
...                                                 ...
2163                                                1.0
2168                                                1.0
2170                                                1.0
2173                                                1.0
2174                                                1.0

      CrimeCommission2021ReportClassificationofDefendants
0     Defendant could not be classified or tracked d...
4     New criminal offense punishable by incarcerati...
11    Defendant Detained Entire Pre-Trial Period_Und...
12    New criminal offense punishable by incarcerati...
15    New criminal offense punishable by incarcerati...
...                                                 ...
2163  New criminal offense punishable by incarcerati...
2168  Contact Event was solely related to a preexist...
2170  New criminal offense punishable by incarcerati...
2173  New criminal offense punishable by incarcerati...
2174  New criminal offense punishable by incarcerati...

[652 rows x 709 columns]

In [25]:
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']

print(type.head())
print(type.unique())
print(type.value_counts())

0    9
1    0
2    1
3    1
4    4
Name: SentenceTypeAllChargesAtConvictionInContactEvent, dtype: int64
[9 0 1 4 2]
1    645
4    632
0    548
2    333
9     20
Name: SentenceTypeAllChargesAtConvictionInContactEvent, dtype: int64

**Q3.** This question provides some practice doing exploratory data analysis and visualization.

The "relevant" variables for this question are:
  - `level` - Level of institution (4-year, 2-year)
  - `aid_value` - The average amount of student aid going to undergraduate recipients
  - `control` - Public, Private not-for-profit, Private for-profit
  - `grad_100_value` - percentage of first-time, full-time, degree-seeking undergraduates who complete a degree or certificate program within 100 percent of expected time (bachelor's-seeking group at 4-year institutions)

1. Load the `./data/college_completion.csv` data with Pandas.
2. What are are the dimensions of the data? How many observations are there? What are the variables included? Use `.head()` to examine the first few rows of data.
3. Cross tabulate `control` and `level`. Describe the patterns you see.
4. For `grad_100_value`, create a histogram, kernel density plot, boxplot, and statistical description.
5. For `grad_100_value`, create a grouped kernel density plot by `control` and by `level`. Describe what you see. Use `groupby` and `.describe` to make grouped calculations of statistical descriptions of `grad_100_value` by `level` and `control`. Which institutions appear to have the best graduation rates?
6. Create a new variable, `df['levelXcontrol']=df['level']+', '+df['control']` that interacts level and control. Make a grouped kernel density plot. Which institutions appear to have the best graduation rates?
7. Make a kernel density plot of `aid_value`. Notice that your graph is "bi-modal", having two little peaks that represent locally most common values. Now group your graph by `level` and `control`. What explains the bi-modal nature of the graph? Use `groupby` and `.describe` to make grouped calculations of statistical descriptions of `aid_value` by `level` and `control`.
8. Make a scatterplot of `grad_100_value` by `aid_value`. Describe what you see. Now make the same plot, grouping by `level` and then `control`. Describe what you see. For which kinds of institutions does aid seem to increase graduation rates?

**Q4.** This question uses the Airbnb data to practice making visualizations.

  1. Load the `./data/airbnb_hw.csv` data with Pandas. You should have cleaned the `Price` variable in question 2, and you'll need it later for this question.
  2. What are are the dimensions of the data? How many observations are there? What are the variables included? Use `.head()` to examine the first few rows of data.
  3. Cross tabulate `Room Type` and `Property Type`. What patterns do you see in what kinds of rentals are available? For which kinds of properties are private rooms more common than renting the entire property?
  4. For `Price`, make a histogram, kernel density, box plot, and a statistical description of the variable. Are the data badly scaled? Are there many outliers? Use `log` to transform price into a new variable, `price_log`, and take these steps again.
  5. Make a scatterplot of `price_log` and `Beds`. Describe what you see. Use `.groupby()` to compute a desciption of `Price` conditional on/grouped by the number of beds. Describe any patterns you see in the average price and standard deviation in prices.
  6. Make a scatterplot of `price_log` and `Beds`, but color the graph by `Room Type` and `Property Type`. What patterns do you see? Compute a description of `Price` conditional on `Room Type` and `Property Type`. Which Room Type and Property Type have the highest prices on average? Which have the highest standard deviation? Does the mean or median appear to be a more reliable estimate of central tendency, and explain why?
  7. We've looked a bit at this `price_log` and `Beds` scatterplot. Use seaborn to make a `jointplot` with `kind=hex`. Where are the data actually distributed? How does it affect the way you think about the plots in 5 and 6?

**Q5.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

**Q6.** Open the `./data/CBO_data.pdf` file. This contains tax data for 2019, explaining where the money comes from that the U.S. Federal Government Spends in terms of taxation on individuals/families and payroll taxes (the amount that your employer pays in taxes on your wages).

For some context, the Federal government ultimately spent about $4.4 trillion in 2019, which was 21% of GDP (the total monetary value of all goods and services produced within the United States). Individual Income Taxes is the amount individuals pay on their wages to the Federal government, Corporate Income Taxes is the taxes individuals pay on capital gains from investment when they sell stock or other financial instruments, Payroll Taxes is the tax your employer pays on your wages, Excises and Customs Duties are taxes on goods or services like sin taxes on cigarettes or alcohol, and Estate and Gift Taxes are taxes paid on transfers of wealth to other people.

1. Get the Millions of Families and Billions of Dollars data into a .csv file and load it with Pandas.
2. Create a bar plot of individual income taxes by income decile. Explain what the graph shows. Why are some values negative?
3. Create a bar plot of Total Federal Taxes by income decile. Which deciles are paying net positive amounts, and which are paying net negative amounts?
4. Create a stacked bar plot for which Total Federal Taxes is grouped by Individual Income Taxes, Payroll Taxes, Excises and Customs Duties, and Estate and Gift Taxes. How does the share of taxes paid vary across the adjusted income deciles? (Hint: Are these the kind of data you want to melt?)
5. Below the Total line for Millions of Families and Billions of Dollars, there are data for the richest of the richest families. Plot this alongside the bars for the deciles above the Total line. Describe your results.
6. Get the Percent Distribution data into a .csv file and load it with Pandas. Create a bar graph of Total Federal Taxes by income decile.
7. A tax system is progressive if higher-income and wealthier individuals pay more than lower-income and less wealthy individuals, and it is regressive if the opposite is true. Is the U.S. tax system progressive in terms of amount paid? In terms of the percentage of the overall total?
8. Do the rich pay enough in taxes? Defend your answer.